body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif; }

.d-block {
  margin: auto;
  width: 98.5%;
  margin-bottom: 80px; }

/* index */
/* navigation style */
.logo {
  margin-top: 0px;
  margin-left: 15px;
  width: 40%; }

.navbar-brand img {
  width: 120px; }

.navbar-nav {
  width: 100%; }

/* Main Banner */
.main-banner {
  width: 100%;
  height: 710px;
  background: url(../imagenes/banner.jpg) no-repeat center/cover;
  margin-top: -57px; }
  .main-banner .slogan {
    font-size: 45px;
    padding-top: 135px;
    margin-left: 30px;
    color: black;
    font-family: "Roboto", sans-serif; }

/* phrase */
.phrase {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 20px 0px 0px 20px; }
  .phrase p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    width: 30%;
    margin-bottom: 40px;
    margin-top: 0px; }
  .phrase .hook {
    display: flex;
    justify-content: space-between;
    padding-right: 25px; }
    .phrase .hook a {
      border: black 1px solid;
      height: 35px;
      width: 17%;
      text-align: center;
      line-height: 32px;
      border-radius: 18px;
      border-color: gray;
      Margin-top: 7px;
      font-family: "Roboto", sans-serif;
      color: black;
      text-decoration: none; }

/* Main Gallery */
.main-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 10px;
  padding-bottom: 85px; }
  .main-gallery .gallery-items {
    position: relative; }
  .main-gallery .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .main-gallery .gallery-title {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    padding: 8px 30px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 1px solid white;
    margin: 10px 5px;
    font-family: "Roboto", sans-serif; }
  .main-gallery a, .main-gallery h3:hover {
    opacity: 0.9; }
  .main-gallery .gallery-items:nth-child(1) {
    grid-row-start: span 2; }

/* footer */
.main-footer {
  font-family: "Roboto", sans-serif;
  padding-top: 45px;
  height: 400px;
  background-color: #f3f3f3; }
  .main-footer section ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 85px 30px 85px;
    list-style: none; }
    .main-footer section ul li a {
      background-color: black;
      color: white;
      padding: 5px 15px;
      border-radius: 20px;
      text-decoration: none; }
  .main-footer .unete {
    width: 22%;
    height: 165px;
    padding-left: 6%;
    padding-bottom: 5px; }
    .main-footer .unete p {
      padding-bottom: 7px; }
    .main-footer .unete a {
      font-weight: bold;
      background-color: black;
      color: #f3f3f3;
      padding: 5px 15px;
      border-radius: 20px;
      text-decoration: none; }
  .main-footer .pago {
    padding-left: 6%; }
    .main-footer .pago button {
      width: 55px;
      height: 55px;
      font-size: 35px;
      border: none;
      cursor: pointer;
      background-color: black;
      border-radius: 6px; }
  .main-footer i {
    color: white;
    font-size: 30px; }

/* TITULOS DE LAS SECCIONES */
.title-pages {
  font-family: 'Roboto', sans-serif;
  padding: 20px 0px 20px 20px; }

/* PAGINA PRODUCTOS */
.main-product {
  padding-bottom: 85px; }
  .main-product p {
    padding-left: 20px;
    width: 30%;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    padding-bottom: 35px; }
  .main-product .gallery-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 10px;
    margin-right: 10px;
    margin-left: 10px; }
    .main-product .gallery-product .gallery-items2 {
      position: relative; }
    .main-product .gallery-product .gallery-img2 {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .main-product .gallery-product .gallery-title2 {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      border-radius: 20px;
      font-weight: bold;
      padding: 8px 30px;
      font-size: 15px;
      background-color: white;
      color: black;
      border: 1px solid white;
      margin: 10px 5px;
      font-family: "Roboto", sans-serif; }
    .main-product .gallery-product a, .main-product .gallery-product h3:hover {
      opacity: 0.9; }

/* PAGINA NOVEDADES */
/* Novedades 1 */
.izquierda {
  background: #fcd21d;
  height: 100%; }

.derecha {
  background: url(../imagenes/escuela.jpg);
  background-size: cover;
  background-position: right;
  height: 100%; }

#pantalla-dividida {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 450px;
  padding-bottom: 85px; }
  #pantalla-dividida div h3 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    padding-left: 45px;
    margin-top: 35px; }
  #pantalla-dividida div p {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-top: 20px;
    width: 65%;
    margin: auto;
    line-height: 1.5;
    text-align: justify; }
  #pantalla-dividida div a {
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    padding: 8px 30px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid white;
    margin: 10px 12px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 66%;
    margin-top: 55px;
    text-decoration: none; }

/* Novedades 2 */
.derecha2 {
  background: #fcd21d;
  height: 100%; }

.izquierda2 {
  background: url(../imagenes/ollas.jpg);
  background-size: cover;
  background-position: right;
  height: 100%; }

#pantalla-dividida2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 450px;
  padding-bottom: 85px; }
  #pantalla-dividida2 div h3 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    padding-left: 45px;
    margin-top: 35px; }
  #pantalla-dividida2 div p {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-top: 20px;
    width: 65%;
    margin: auto;
    line-height: 1.5;
    text-align: justify; }
  #pantalla-dividida2 div a {
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    padding: 8px 30px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid white;
    margin: 10px 12px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 66%;
    margin-top: 55px;
    text-decoration: none; }

/* PAGINA SOSTENIBILIDAD */
.derecha3 {
  background: #fcd21d;
  height: 100%; }

.izquierda3 {
  background: url(../imagenes/HOJAS.jpg);
  background-size: cover;
  background-position: right;
  height: 100%; }

#pantalla-dividida3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 450px;
  padding-bottom: 85px; }
  #pantalla-dividida3 div h3 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    padding-left: 45px;
    margin-top: 35px; }
  #pantalla-dividida3 div p {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-top: 20px;
    width: 65%;
    margin: auto;
    line-height: 1.5;
    text-align: justify; }
  #pantalla-dividida3 div a {
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    padding: 8px 30px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid white;
    margin: 10px 12px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 66%;
    margin-top: 55px;
    text-decoration: none; }

/* PAGINA SERVICIOS */
/* SERVICIOS 1 */
.derecha4 {
  background: #fcd21d;
  height: 100%; }

.izquierda4 {
  background: url(../imagenes/delivery.jpg);
  background-size: cover;
  background-position: right;
  height: 100%; }

#pantalla-dividida4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 450px;
  padding-bottom: 85px; }
  #pantalla-dividida4 div h3 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    padding-left: 45px;
    margin-top: 35px; }
  #pantalla-dividida4 div p {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-top: 20px;
    width: 65%;
    margin: auto;
    line-height: 1.5;
    text-align: justify; }
  #pantalla-dividida4 div a {
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    padding: 8px 30px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid white;
    margin: 10px 12px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 66%;
    margin-top: 55px;
    text-decoration: none; }

/* SERVICIOS 2 */
.izquierda5 {
  background: #fcd21d;
  height: 100%; }

.derecha5 {
  background: url(../imagenes/Instalacion.jpg);
  background-size: cover;
  background-position: right;
  height: 100%; }

#pantalla-dividida5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 450px;
  padding-bottom: 85px; }
  #pantalla-dividida5 div h3 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    padding-left: 45px;
    margin-top: 35px; }
  #pantalla-dividida5 div p {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-top: 20px;
    width: 65%;
    margin: auto;
    line-height: 1.5;
    text-align: justify; }
  #pantalla-dividida5 div a {
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    padding: 8px 30px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid white;
    margin: 10px 12px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 66%;
    margin-top: 55px;
    text-decoration: none; }

/* SERVICIOS 3 */
.derecha6 {
  background: #fcd21d;
  height: 100%; }

.izquierda6 {
  background: url(../imagenes/muebles-7z-z.jpg);
  background-size: cover;
  background-position: right;
  height: 100%; }

#pantalla-dividida6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 450px;
  padding-bottom: 85px; }
  #pantalla-dividida6 div h3 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    padding-left: 45px;
    margin-top: 35px; }
  #pantalla-dividida6 div p {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-top: 20px;
    width: 65%;
    margin: auto;
    line-height: 1.5;
    text-align: justify; }
  #pantalla-dividida6 div a {
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    padding: 8px 30px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid white;
    margin: 10px 12px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 66%;
    margin-top: 55px;
    text-decoration: none; }

/*PAGINA CONTACTO*/
.formulario-titulo {
  text-align: center;
  margin-top: 0;
  color: black;
  opacity: 0.7;
  font-family: 'Roboto', sans-serif;
  font-size: 25px; }

.form {
  display: flex;
  justify-content: space-between;
  padding-left: 230px;
  padding-right: 230px; }
  .form .formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 5px 0px 10px 10px;
    box-shadow: 0 0 20px 1px black;
    opacity: 0.7;
    position: relative; }
  .form .formulario-input, .form .formulario-label, .form .formulario-submit {
    display: block;
    width: 95%;
    font-size: 1.1em; }
  .form .formulario-input {
    padding: 10px;
    background: transparent;
    border: 1px solid black;
    opacity: 0.9;
    margin-bottom: 45px; }
  .form .formulario-label {
    padding-left: 15px;
    position: absolute;
    margin-top: -30px;
    z-index: -20;
    color: black;
    opacity: 0.5;
    transition: all 0.5s;
    font-family: 'Roboto', sans-serif; }
  .form .formulario-submit {
    background: #0f0f05;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    border: none; }
  .form .formulario-coment {
    padding: 5px 245px 460px 40px;
    background: transparent;
    border: 1px solid black;
    opacity: 0.7; }

.ubicacion {
  font-family: 'Roboto', sans-serif; }

.direccion {
  font-family: 'Roboto', sans-serif;
  padding-top: 85px;
  padding-left: 25px;
  padding-bottom: 10px; }

.preguntas {
  font-family: 'Roboto', sans-serif;
  padding-top: 45px;
  padding-left: 25px;
  padding-bottom: 45px; }

.preguntas h4 {
  padding-top: 45px;
  padding-bottom: 10px; }

.preguntas p {
  width: 50%;
  text-align: justify; }
